
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f4f6f8;
}

#tarolo {
    width: 900px;
    margin: auto;
}


#fejlec {
    padding: 30px;
    text-align: center;
    color: white;
}


#menu {
    background-color: #222;
    padding: 10px;
    text-align: center;
}

#menu a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

#menu a:hover {
    text-decoration: underline;
}


#tartalom {
    background-color: white;
    padding: 25px;
}


#lablec {
    text-align: center;
    padding: 15px;
    color: #666;
}

.jo-iskola #fejlec {
    background-color: #1f3c88;
}

.jo-iskola h2, 
.jo-iskola h3, 
.jo-iskola h4 {
    color: #1f3c88;
}

.jovo-iskola {
    background-color: #eefaf1;
}

.jovo-iskola #fejlec {
    background-color: #2e8b57;
}

.jovo-iskola h2, 
.jovo-iskola h3, 
.jovo-iskola h4 {
    color: #2e8b57;
}
